<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletIngreso</servlet-name>
        <servlet-class>Servlets.ServletIngreso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingreso</servlet-name>
        <servlet-class>Servlets.ingreso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>falla</servlet-name>
        <servlet-class>Servlets.falla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletBuscar</servlet-name>
        <servlet-class>Servlets.servletBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAdministrador</servlet-name>
        <servlet-class>Servlets.servletAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingresoAdmin</servlet-name>
        <servlet-class>Servlets.ingresoAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fallaAdmin</servlet-name>
        <servlet-class>Servlets.fallaAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletIngreso</servlet-name>
        <url-pattern>/ServletIngreso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingreso</servlet-name>
        <url-pattern>/ingreso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>falla</servlet-name>
        <url-pattern>/falla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletBuscar</servlet-name>
        <url-pattern>/servletBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAdministrador</servlet-name>
        <url-pattern>/servletAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingresoAdmin</servlet-name>
        <url-pattern>/ingresoAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fallaAdmin</servlet-name>
        <url-pattern>/fallaAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
